{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Le Collège fou fou fou</h1>

    <ol class="m-5">
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolore recusandae ad vel! Consectetur quisquam nihil voluptatibus mollitia! Alias quod voluptatibus vitae modi quos? Id accusantium facilis nesciunt odit culpa.
            A, et nesciunt eveniet nemo accusantium repudiandae, sit ad itaque incidunt rem in nihil ipsa eligendi earum aspernatur quas maxime deleniti officia autem quaerat commodi porro perspiciatis qui doloribus! Voluptatum!
            Ea, expedita? Vitae eveniet fugiat et molestiae pariatur veritatis quod beatae, similique quos voluptas deleniti tenetur, asperiores obcaecati, maiores eum porro! Magnam rem consequatur, voluptas deserunt molestiae quod ducimus. Fugit?
            Doloremque animi cupiditate, esse, ex totam iure dolorum dolorem veniam quae tempore adipisci vel perspiciatis aliquid delectus aliquam blanditiis rerum. Fugit eum ipsa commodi hic necessitatibus, quam natus ipsam optio!
        </li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit perferendis dolore aperiam ad distinctio impedit, voluptatum quae nam doloremque similique ea quo. Repellat earum impedit incidunt autem, non fugit?
            Deleniti saepe magni qui voluptate, repudiandae soluta expedita debitis suscipit ullam nam fugiat commodi aperiam explicabo neque deserunt asperiores ratione culpa ducimus iure facere labore aliquid tenetur praesentium. Eos, fugit.
            Quaerat modi dolores voluptates eos cumque placeat eveniet voluptatibus quibusdam, ducimus incidunt commodi accusantium doloribus quam dignissimos rem exercitationem ratione, pariatur aut magni at dicta! Ullam tenetur rerum neque dolorum.
            Provident autem mollitia sed amet voluptatum ea eius optio vero debitis non ex laborum, quasi rerum assumenda numquam at! Sint optio, id eligendi et impedit aperiam praesentium voluptas dolor consequuntur.
        </li>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At quod ut similique magnam temporibus et maiores impedit adipisci dicta! Provident quidem eaque omnis nobis! Mollitia modi quam minus facilis iusto.
            Incidunt, est inventore commodi consequuntur amet, quae, sequi a nisi recusandae consequatur eligendi? Nam odit, necessitatibus omnis, consequatur asperiores inventore nobis provident quae minima perspiciatis veritatis animi! Laboriosam, incidunt harum?
            Ullam aut, aperiam animi voluptatum mollitia, dolore, dignissimos blanditiis tempora saepe nulla necessitatibus laudantium ad sunt vero nostrum nihil delectus inventore? Quaerat quisquam cupiditate dolor aliquam omnis dolorum fugiat soluta.
            Alias ut suscipit dolores laudantium hic eos vitae quis quia doloribus obcaecati consequatur voluptatum magnam odit quam aut, ea ullam ratione consequuntur eius quibusdam deleniti sunt sit. Nesciunt, unde cupiditate?
        </li>
        <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis perspiciatis voluptatem alias et nulla impedit commodi nisi enim repellat reiciendis dolorum mollitia corporis porro reprehenderit, laborum, praesentium, atque quisquam tempora?
            Iste officiis ducimus ipsam dolores blanditiis ab tenetur libero exercitationem. Dolorum porro quas temporibus perspiciatis odit consectetur. Nihil, voluptatibus unde praesentium hic ut accusamus error explicabo nulla ea maiores consequatur!
            Vero veritatis in numquam ea quidem, recusandae ipsam obcaecati rem officia sed rerum reprehenderit repellendus vitae quo earum, voluptas saepe culpa consequatur sapiente fugiat. Quibusdam corrupti omnis qui laudantium beatae.
            Repudiandae et voluptatibus eum adipisci dicta aspernatur doloremque id amet, voluptates magni modi obcaecati in nam illo nihil sit aliquam velit nulla vero! Quia cupiditate temporibus ullam unde, eligendi ipsum.
            Excepturi iure natus fugit! Ipsum iusto neque commodi officia ipsam numquam facere, accusamus earum dolor corrupti natus quos nobis rerum fugiat maxime iure eligendi, praesentium nam aliquid fugit minima autem!
            Nobis inventore perferendis iusto exercitationem laboriosam ipsam, voluptatibus saepe excepturi corporis consequatur sapiente voluptatem aperiam magnam totam incidunt ratione blanditiis nemo ipsa autem. Consequuntur sit ipsum officiis possimus, vel odio.
            Minima, saepe. Ad dolorem placeat beatae tenetur, maiores quam enim quasi obcaecati optio, omnis doloremque tempore dolore. Quisquam magni inventore, rem deserunt ex exercitationem minus facilis, neque amet consequuntur unde.
            Quidem, repellat blanditiis. Voluptas neque provident, eligendi sit minima quidem, doloremque adipisci molestiae nemo illum quaerat itaque? Nemo excepturi, obcaecati, eum sequi molestiae iure ex, soluta explicabo nam quasi et!
        </li>
    </ol>
{% endblock %}
